
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Direccion</th>
      </tr>
    </thead>
    <tbody>
        <tr class="table-active">
      <tr>
        <th scope="row">1</th>
        <td>{{clientes}} </td>
        <td>Rivera</td>
        <td>Calkini Centro calle 29 S/N</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Yazbeth </td>
        <td>Chable cocon</td>
        <td>Hecelchakan, campeche calle 18 </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

  