<h1>Actividad 1</h1>
<div class="text">
    <h2>Hello world!!!</h2>
    Esto es el texto bien bien opaco en color azul con fondo blanco bien bien opaco</div>

    <div class="background"></div>
<div class="text">
    <h2>Idea Secundaria </h2>
    Esto es el texto bien bien opaco en color azul con fondo blanco bien bien opaco!!!</div>

    <div class="background"></div>
<div class="text">
    <h3>Idea Secundaria 2 </h3>
    Esto es el texto bien bien opaco en color azul con fondo blanco bien bien opaco!!!</div>
<div class="background"></div>

<br>
<br>

<div class="container-flex">
    <div class="container">
      <h2>Heading</h2>
      <p>Esto es el texto bien bien opaco en color azul con fondo blanco bien bien opaco</p>
      <button class="ver-button">View Detalls >>> </button>
    </div>

    <div class="container">
      <h2>Heading</h2>
      <p>Esto es el texto bien bien opaco en color azul con fondo blanco bien bien opaco</p>
      <button class="ver-button">View Detalls >>> </button>
    </div>

    <div class="container">
      <h2>Heading</h2>
      <p>Esto es el texto bien bien opaco en color azul con fondo blanco bien bien opaco</p>
      <button class="ver-button">View Detalls >>> </button>
    
    </div>
  </div>

  
  <h1>Actividad 2</h1>
  <div class="cabecera">
    <app-header></app-header>
  </div>


<!-- Contenedor para el texto -->
  <div class="text-center text-warning p-4">
    <h1 class="display-1">Get Powerful WordPress Hosting</h1>
    <p class="h2 text-black">Exclusive offer Envato users: </p>
    <h1 class="display-4">Up to 62% Special Discount + Free theme installation</h1>

  </div>


  <div class="Pie de pagina">
    <app-footer></app-footer>
  </div>

  <h1>Actividad 3</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Direccion</th>
      </tr>
    </thead>
    <tbody>
        <tr class="table-active">
      <tr>
        <th scope="row">1</th>
        <td>{{clientes}} </td>
        <td>Rivera</td>
        <td>Calkini Centro calle 29 S/N</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Yazbeth </td>
        <td>Chable cocon</td>
        <td>Hecelchakan, campeche calle 18 </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

  