@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Young+Serif&display=swap');
*{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Young Serif', serif;
}

.tamanio-imagen{
    height: 250px;
    width: 250px;
    border-radius: 10px;


}
.fondo-imagen {
    background-color: #f4f4f4; /* Color de fondo gris claro */
    padding: 20px; /* Relleno interior */
    margin: 20px; /* Margen exterior */
}


.bg-blue {
    background-color: white;

    /* Puedes ajustar el color de fondo según tus preferencias */
  }
  .titulo {
  color: black; /* Cambia el color a tu preferencia */
  font-size: 34px; /* Cambia el tamaño a tu preferencia */
  text-align: center; /* Alinea el título al centro */
  margin-top: 20px; /* Espaciado superior */
  }
  .titulo1 {
    color: black; /* Cambia el color a tu preferencia */
      font-size: 24px; /* Cambia el tamaño a tu preferencia */
      text-align: center; /* Alinea el título al centro */
      margin-top: 20px; /* Espaciado superior */
      }



