
<div class="cabecera">
  <app-header></app-header>
</div>

<!-- Contenedor principal con la imagen de fondo -->
<div class="position-relative">
  <img src="assets/Image/MariachisH03.png" class="img-fluid w-100 img" alt="Portada">

   <!-- Contenedor para el texto y el botón -->
  <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="text-center text-warning p-4">
      <h1 class="display-1">MARIACHIS HALACHO</h1>
      <p class="h2 text-white">Descubre la pasión de la música</p>
      <button type="button" class="btn btn-outline-warning">Conócenos</button>
    </div>
  </div>
</div>



<div class="Pie de pagina">
  <app-footer></app-footer>
</div>
