<!-------------------------Actividad 1------------------------->

<div>
  <nav class="navbar" style="background-color: #82c1ee;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">ACTIVIDAD 1</span>
    </div>
  </nav>
</div>

<div class="container">
  <div class="column1">
    <h1>Hello World!!</h1>
    <p>hahhsshghsghsgbnnsbsnnnbsnabnabamnslkjkj ksiiieueujfhddhddbgdbd hdhhdhdnssbnbvshshswjwu kjajassnbcbcdhheyeyetegegdhsbsnbdhsdhsdjhs jsjhsjhahjsahhagwebebebeegeebgngsdgdgd  gdgdgdhfbhgsdsjsjahahjahahhjhshjshshshhs dsddddsssaffkskskssncmcjkdamsmanamnasbmnsabmasnsnmnsbnsbnbsn jsjshdjhsdjhsbjdbde ehjahsjhdhdjhdvdcvhxxnsxbsjhajhdsbsbbs sbsshsbsbjhsbsjhajahahhshhdbbxhjsbdhjdbdhjbxhxhnxhhjdbdjhhsajhsjhjshsjhsjshjshsjhjhdjahjshs</p>
  </div>

  <div class="column2">
    <h2>Idea secundaria</h2>
    <p>hahhsshghsghsgbnnsbsnnnbsnabnabamnslkjkjskjaasddsd jjahshjhsjsgdgjdjgjertrtjeyyeuwuwiweiodncbchdhfyfbdgsbsjsjajajajaj hdgdggdgdgcbbcgdbejuejejsksksksjsjsjd hasjhajhdjdghhvxxhjsgdsjdjgdjhgdjdhsgjdhdjhdddghsgshjgsjywwhwh wuwhhsaKLLljajjjsab  dddsssaffkskskssncmcjkdamsmanamnasbmnsabmasnsnmnsbnsbnbsn </p>
  </div>

  <div class="column3">
    <h2>Idea secundaria 2</h2>
    <p>hahhsshghsghsgbnnsbsnnnbsnabnabamns hamjashsnssjahdjhdbdbnsgdgesegseggsegsegsgehhajhajh  sjhdjhdjhdjhdshjjshjsshawhjyawyjywyywywyjjwyyjwywyyyjw lkjkjskjsnndddddddddddcccsssaaaaaaasddsddddsssaffkskskssncmcjkdamsmanamnasbmnsabmasnsnmnsbnsbnbsn </p>
  </div>

</div>

<!--Contenedor de la parte baja-->
<div class="container-end">
  <div class="column4">
    <h2>Heading</h2>
    <p>hakjajkkwuwbwdjhskjsmbbdj hdhdhhdjhsdhdhhdhdshdjshsdjdshjdshjsdhdjhdhhd hshhsdhhdbdbjdj hdhdhhdhdjskkuejeooowppwpwoejdururotjkeiendudn jhsjsjwjiuewoeoepposslsñlkdnkcjsbj hshdsbbcnsnamhhajwhhuqyueebdbdhdb jsjshshshdsmbdbdvccdnejheejhejhjehehbd hddgsdgdgdbshssbbshshs</p>
    <button type="button" class="btn btn-secondary">View Details >> </button>
  </div>

  <div class="column5">
    <h2>Heading</h2>
    <p>hajshdbengebbdbegnehjsdkds nsmjnsjsnsjdsnbcjdbdjkakkajja jsjksdooeioeioidjsjskhjasdhjaalakkslkhdh dhdjhsdhjbnbcbchsbsjsb shsshshshshshshhshsjkdjdjhsdjhcbnbc dhdhhjdhshjscnxnmxjsjsjjsnsnhsbshbdb</p>
    <button type="button" class="btn btn-secondary">View Details >></button>
  </div>

  <div class="column6">
    <h2>Heading</h2>
    <p>jhsahkdghyhtiuuvnbcjdhdshsdhdn jhshjdjhnckakjakssjjsbcnxnxjshhjabd jsahqwjeueuryurirjbcndhdgdjsjs sjshshgsdjsdsjhsdbshd sjsjsdhshdjshsdjllaoaoakksnddjjdndhjdhds nshsdhjhwyueytrbbnvmxskccxxhahsmsbddhdsh</p>
    <button type="button" class="btn btn-secondary"> View Details >> </button>
  </div>
</div>


<!-----------------------------Actividad 2------------------------->

<div>
  <nav class="navbar" style="background-color: #74ffea;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">ACTIVIDAD 2</span>
    </div>
  </nav>
</div>


<div class="cabecera">
  <app-header></app-header>
</div>


<!-- Contenedor para el texto -->
<div class="text-center text-warning p-4">
  <h1 class="display-1">Get Powerful WordPress Hosting</h1>
  <p class="h2 text-black">Exclusive offer Envato users: </p>
  <h1 class="display-4">Up to 62% Special Discount + Free theme installation</h1>

</div>


<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center my-4">
  <!--Contenedor 1-->
  <div class="col">
    <div class="card h-100">
      <img src="assets/Image/icon/home.png" class="ard-img-top img-fluid w-25 mx-auto my-4" alt="home">
      <div class="card-body">
        <h5 class="card-title text-center">StartUp</h5>
        <p class="card-text text-center">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <hr class="text-white-50">
      <button type="button" class="btn btn-warning">GET PLAN</button>
    </div>
  </div>
  <!--Contenedor 2-->
  <div class="col">
    <div class="card h-100">
      <img src="assets/Image/icon/estrella.png" class="card-img-top img-fluid w-25 mx-auto my-4" alt="star">
      <div class="card-body">
        <h5 class="card-title text-center">GrowBlg</h5>
        <p class="card-text text-center">This is a short card.</p>
      </div>
      <hr class="text-white-50">
      <button type="button" class="btn btn-warning">GET PLAN</button>
    </div>
  </div>
  <!--Contenedor 3-->
  <div class="col">
    <div class="card h-100">
      <img src="assets/Image/icon/crown.png" class="card-img-top img-fluid w-25 mx-auto my-4" alt="crown">
      <div class="card-body">
        <h5 class="card-title text-center">GoGeek</h5>
        <p class="card-text text-center">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
      <hr class="text-white-50">
      <button type="button" class="btn btn-warning">GET PLAN</button>
    </div>
  </div>

</div>

<div class="Pie de pagina">
  <app-footer></app-footer>
</div>

<!--------------------------------Actividad 3--------------------------------------->





<!--------------------------------Actividad 4-------------------------------------->

<div>
  <nav class="navbar" style="background-color: #82c1ee;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">ACTIVIDAD 4</span>
    </div>
  </nav>
</div>

<app-calculadora></app-calculadora>
