<!-- reservas.component.html -->
<h1>Actividad 5</h1>
<form (ngSubmit)="onSubmit()" #reservaForm="ngForm">
    <div>
      <label for="description">Descripción:</label>
      <input type="text" id="description" name="description" [(ngModel)]="nuevaReserva.description" required>
    </div>
    <div>
      <label for="date">Fecha:</label>
      <input type="text" id="date" name="date" [(ngModel)]="nuevaReserva.date" required>
    </div>
    <div>
      <label for="status">Estado:</label>
      <input type="text" id="status" name="status" [(ngModel)]="nuevaReserva.status" required>
    </div>
    <button type="submit">Guardar</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of Reservas">
        <td>{{ reserva.description }}</td>
        <td>{{ reserva.date }}</td>
        <td>{{ reserva.status }}</td>
      </tr>
    </tbody>
  </table>