


<!-- Contenedor principal con la imagen de fondo -->

  <div class="container-fluid fondo-imagen d-flex justify-content-center align-items-center alto">

    <div class="fondo-negro position-absolute">
      <div class="text-center text-warning p-4">
        <h1 class="display-1">MARIACHI HALACHO</h1> <br>
        <p class="h2 text-white">Descubre la pasión de la música</p><br>
      <!--  <button type="button" class="btn btn-outline-warning">Conócenos</button>-->
      </div>
    </div>

  </div>
  <app-carousel></app-carousel>
<app-servicios></app-servicios>




