
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap');

*{
  font-family: Georgia, Round, Bold, italic;
}

/* Configura el contenedor para ocupar todo el alto de la pantalla */
.alto {
  height: 140vh; /* 100% del alto de la ventana */
}

/* Configura la imagen de fondo */
.fondo-imagen {
  background-image: url(../../../assets/Image/MariachisHalacho1.jpeg);
  background-size: cover; /* Ajusta la imagen para cubrir el contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center; /* Centra la imagen horizontalmente */
}

/* Estilos para el cuadro de fondo semitransparente */
.fondo-negro {
  background-color: rgba(0, 0, 0, 0.7); /* Color de fondo semitransparente */
  position: fixed; /* Fondo fijo para cubrir toda la página */
  padding: 20px; /* Espaciado interior del cuadro */
  width: 100%; /* Ancho del cuadro del 100% de la pantalla */
}

.btn {
  color: #FFFFFF; /* Cambia el color del texto */
  font-size: 22px; /* Cambia el tamaño del texto */
  padding: 10px 20px; /* Ajusta el espaciado interior */
}
