<h1>LISTA DE CLIENTES</h1>
<br>
<br>
<router-outlet></router-outlet>
<br>
<app-calculadora></app-calculadora>
<br>
<br>
<div class="text">
    <h2>Hello world!!!</h2>
    Esto es el texto bien bien opaco en color azul con fondo blanco bien bien opaco</div>

    <div class="background"></div>
<div class="text">
    <h2>Idea Secundaria </h2>
    Esto es el texto bien bien opaco en color azul con fondo blanco bien bien opaco!!!</div>

    <div class="background"></div>
<div class="text">
    <h3>Idea Secundaria 2 </h3>
    Esto es el texto bien bien opaco en color azul con fondo blanco bien bien opaco!!!</div>
<div class="background"></div>

<br>
<br>

<div class="container-flex">
    <div class="container">
      <h2>Heading</h2>
      <p>Esto es el texto bien bien opaco en color azul con fondo blanco bien bien opaco</p>
      <button class="ver-button">View Detalls >>> </button>
    </div>

    <div class="container">
      <h2>Heading</h2>
      <p>Esto es el texto bien bien opaco en color azul con fondo blanco bien bien opaco</p>
      <button class="ver-button">View Detalls >>> </button>
    </div>

    <div class="container">
      <h2>Heading</h2>
      <p>Esto es el texto bien bien opaco en color azul con fondo blanco bien bien opaco</p>
      <button class="ver-button">View Detalls >>> </button>
    
    </div>
  </div>
    <br>
    <app-footer></app-footer>
    
   