.container h1 {
    
    text-align: center;
  }
  .text {
      width: 400px;
      height: 100px;
      background-color: transparent;
      padding: 10px;
      color: black;
      position: absolute;
      z-index: 1;
  }
   
  .background {
      width: 400px;
      height: 100px;
      background-color: #FFFFFF;
      padding: 10px;
      margin: 0px 0px 10px 0px;
      border-style:solid;
  }
  
  .container-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
    .container {
      
      padding: 20px;
      text-align: left;
      width: 33%;
      box-sizing: border-box;
      display: inline-block;
      margin: 0 120px;
      position: relative;
      height: 250px;
    }
    
    
    .container h2 {
      margin-bottom: 10px;
      text-align: cernter;
    }
  
  
    
    .container p {
      margin-bottom: 10px;
    }
    
    .container .ver-button {
      
      position: absolute;
      bottom: 20px;
      left: 40%;
      transform: translateX(-50%);
      padding: 10px 20px;
      background-color: rgba(209, 219, 211, 0.8);
      color: black;
      border: none solid;
      border-radius: 5px;
      cursor: pointer;
    }
   
  
   