<div class="cabecera">
    <app-header></app-header>
  </div>
  
  <!-- Contenedor principal con la imagen de fondo -->
  
  <div class="container-fluid fondo-imagen d-flex align-items-center justify-content-center alto">
  
    <div class="text-center p-4">
      <p class="h4 text-warning">NUESTRA EXPERIENCIA</p>
      <h1 class="display-3 text-white">¿POR QUÉ CONTRATARNOS?</h1>
    </div>
  
  </div>
  
  
  <!-- la primera card de contiente la historia principal -->
  
  <div class="container mt-4">
    <div class="card border-light">
      <div class="row g-0">
        <div class="col-md-6 mb-6">
          <img src="assets/Image/MHalacho1.jpeg" class="img-fluid rounded-start" alt="Nuestra historia">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h1 class="display-3 card-title">Mariachis Halacho</h1>
            <p class="h3 text-warning">Conoce nuestra historia</p>
            <hr> <!-- Línea horizontal para separar título y subtítulo -->
            <p class="card-text text-justify custom-text">
              Mariachis HALACHO, orgullosamente representando el estado de Yucatán, celebran dos décadas de pasión por la música mexicana. Desde nuestros inicios hace 20 años, hemos tenido el honor de llevar la alegría de la tradición mariachi a innumerables eventos y reuniones especiales. Bajo la dirección de Alejandro del Carmen Tucuch Haas, nos enorgullecemos de presentar a nuestros diez talentosos integrantes.
              Deseamos extender un cálido saludo a todos nuestros fieles seguidores y a quienes nos descubren por primera vez. ¡Bienvenidos a la experiencia única de Mariachis HALACHO!.
              Nuestro compromiso es brindarle momentos inolvidables en sus reuniones familiares y sociales, y es por eso que nos esforzamos en ofrecer lo mejor de la música folklórica mexicana, así como un amplio repertorio de éxitos que abarcan todas las edades y gustos musicales.
              Una vez más, gracias por confiar en Mariachis HALACHO. Estamos listos para hacer que sus momentos especiales sean aún más memorables con nuestra pasión por la música mexicana. ¡Salud y Viva México! 🇲🇽🎶
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!--la segunda cards para la sengunda parte del blog-->
  <div class="container mt-4">
    <div class="card border-light">
      <div class="row g-0">
        <div class="col-md-6">
          <div class="card-body">
            <p class="card-text text-justify custom-text">
              A lo largo de nuestros años de trayectoria, Mariachis HALACHO ha brindado numerosos espectáculos con el repertorio clásico del inigualable género musical mexicano de los mariachis. Nos destacamos por nuestra incansable búsqueda de la excelencia y una presentación personal de alta calidad.
              Mariachis HALACHO, arraigados en el hermoso estado de Yucatán, estamos comprometidos en ser uno de los grupos más reconocidos de nuestra región, con un enfoque constante en la mejora continua.
              Estamos disponibles para presentarnos en cualquier lugar donde nuestra estimada clientela nos requiera, ofreciendo los precios más competitivos y presupuestos a medida. Además, de lunes a viernes, puedes aprovechar nuestras ofertas especiales.
              Permítenos ser parte de tus momentos inolvidables y agregar un toque especial de pasión y magia mariachi a cada ocasión. En Mariachis HALACHO, estamos dedicados a hacer que tus momentos sean inolvidables. ¡Contáctanos hoy mismo y déjanos ser la banda sonora de tus eventos más memorables!
            </p>
            <hr> <!-- Línea horizontal para separar -->
            <!-- Iconos de redes sociales -->
            <div class="social-icons mt-3">
              <a href="https://www.facebook.com/?locale=es_LA" class="btn btn-link"><i class="bi bi-facebook fs-2 text-dark"></i></a>
              <a href="https://www.instagram.com" class="btn btn-link"><i class="bi bi-instagram fs-2 text-dark"></i></a>
              <a href="https://web.whatsapp.com/" class="btn btn-link"><i class="bi bi-whatsapp fs-2 text-dark"></i></a>
              <a href="https://twitter.com/?lang=es" class="btn btn-link"><i class="bi bi-twitter-x fs-2 text-dark"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-6"> <!-- Agregado mb-6 para crear espacio -->
          <img src="assets/Image/MariachisH02.png" class="img-fluid rounded-start" alt="Nuestra historia">
        </div>
      </div>
    </div>
  </div>
  