<!--  el carrusel -->

<div id="carouselExampleIndicators" class="carousel slide bg-blue" data-bs-ride="carousel">
    <br>
    <h1 class="titulo">CONTRATA AL MEJOR MARIACHI</h1>
    <br>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="height: 150px ">
      <div class="carousel-item active tamanio-component ">
        <div class="row">
            <div class="col ">
              <img src="assets/Image/evento1.jpeg" class="d-block  w-100  tamanio-imagen" alt="...">
            </div>
            <div class="col">
              <img src="assets/Image/evento2.jpeg" class="d-block  w-100 tamanio-imagen" alt="...">
            </div>
            <div class="col">
                <img src="assets/Image/evento3.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
              </div>
              <div class="col">
                <img src="assets/Image/evento17.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
              </div>
              <div class="col">
                <img src="assets/Image/evento5.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
              </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="row ">
            <div class="col">
              <img src="assets/Image/evento6.jpeg" class="d-block  w-100 tamanio-imagen" alt="...">
            </div>
            <div class="col">
              <img src="assets/Image/evento18.jpeg" class="d-block  w-100 tamanio-imagen" alt="...">
            </div>
            <div class="col">
                <img src="assets/Image/evento8.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
              </div>
              <div class="col">
                <img src="assets/Image/evento9.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
              </div>
              <div class="col">
                <img src="assets/Image/evento10.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
              </div>
          </div> 
        </div>
        <div class="carousel-item ">
            <div class="row ">
              <div class="col">
                <img src="assets/Image/evento11.jpeg" class="d-block  w-100 tamanio-imagen" alt="...">
              </div>
              <div class="col">
                <img src="assets/Image/evento12.jpeg" class="d-block  w-100 tamanio-imagen" alt="...">
              </div>
              <div class="col">
                  <img src="assets/Image/evento13.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
                </div>
                <div class="col">
                    <img src="assets/Image/evento14.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
                  </div>
                  <div class="col">
                    <img src="assets/Image/evento15.jpeg" class="d-block w-100 tamanio-imagen" alt="...">
                  </div>
            </div> 
          </div>
       <!-- Botones para pasar el carrusel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    
  </div>
  
  <h2 class="titulo1">Donde el alma se encuentra con la musica, alli estamos nosotros<br>Mariachi Halacho</h2>
  <br>
    <br>
