
<body>
    <div class="cabecera">
        <app-header></app-header>
      </div>
      <div class="modal-body">
        <!-- Contenido de servicios -->
        <ul>
            <br>
            <br>
            <li>Serenata</li>
            <li>45 minutos de servicio</li>
            <li>1 hora de servicio</li>
        </ul>
        <h1>LISTA DE PRECIOS</h1>
<table class="table">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">Lugar</th>
<th scope="col">Precio Serenata</th>
<th scope="col">Precio 45 minutos</th>
<th scope="col">Precio 1 hora</th>
</tr>
</thead>
<tbody>
<tr class="table-active">
<tr>
<th scope="row">1</th>
<td>Halacho</td>
<td>$ 1,500</td>
<td>$ 1,800</td>
<td>$ 2,000</td>
</tr>
<tr>
<th scope="row">2</th>
<td>Cepeda</td>
<td>$ 1,900</td>
<td>$ 2,300</td>
<td>$ 2,500</td>
</tr>
<tr>
<th scope="row">3</th>
<td>Cancabchen</td>
<td>$ 2,000</td>
<td>$ 2,300</td>
<td>$ 2,500</td>
</tr>
<tr>
<th scope="row">4</th>
<td>Acu</td>
<td>$ 2,200</td>
<td>$ 2,500</td>
<td>$ 2,700</td>
</tr>
<tr>
<th scope="row">5</th>
<td>San Mateo</td>
<td>$ 2,200</td>
<td>$ 2,500</td>
<td>$ 2,700</td>
</tr>
<tr>
<th scope="row">6</th>
<td>Granada</td>
<td>$ 2,000</td>
<td>$ 2,300</td>
<td>$ 2,500</td>
</tr>
<tr>
<th scope="row">7</th>
<td>Maxcanu</td>
<td>$ 2,000</td>
<td>$ 2,300</td>
<td>$ 2,500</td>
</tr>
<tr>
<th scope="row">8</th>
<td>Santo Domingo</td>
<td>$ 2,100</td>
<td>$ 2,400</td>
<td>$ 2,600</td>
</tr>
<tr>
<th scope="row">9</th>
<td>Dzidzibachi</td>
<td>$ 2,100</td>
<td>$ 2,400</td>
<td>$ 2,600</td>
</tr>
<tr>
<th scope="row">10</th>
<td>Cochol</td>
<td>$ 2,200</td>
<td>$ 2,500</td>
<td>$ 2,700</td>
</tr>
<tr>
<th scope="row">11</th>
<td>Chunchucmil</td>
<td>$ 2,200</td>
<td>$ 2,600</td>
<td>$ 2,800</td>
</tr>
<tr>
<th scope="row">12</th>
<td>San Fernando</td>
<td>$ 2,100</td>
<td>$ 2,400</td>
<td>$ 2,600</td>
</tr>
<tr>
<th scope="row">13</th>
<td>Paraiso</td>
<td>$ 2,200</td>
<td>$ 2,500</td>
<td>$ 2,700</td>
</tr>
<tr>
<th scope="row">14</th>
<td>San Rafael</td>
<td>$ 2,200</td>
<td>$ 2,600</td>
<td>$ 2,800</td>
</tr>
<tr>
<th scope="row">15</th>
<td>Coahila</td>
<td>$ 2,200</td>
<td>$ 2,500</td>
<td>$ 2,700</td>
</tr>
<tr>
<th scope="row">16</th>
<td>Santa Rosa</td>
<td>$ 2,100</td>
<td>$ 2,400</td>
<td>$ 2,600</td>
</tr>
<tr>
<th scope="row">17</th>
<td>San Bernaldo</td>
<td>$ 2,200</td>
<td>$ 2,500</td>
<td>$ 2,700</td>
</tr>
<tr>
<th scope="row">18</th>
<td>Kopoma</td>
<td>$ 2,200</td>
<td>$ 2,500</td>
<td>$ 2,700</td>
</tr>
<tr>
<th scope="row">19</th>
<td>Chochola</td>
<td>$ 2,300</td>
<td>$ 2,600</td>
<td>$ 2,800</td>
</tr>
<tr>
<th scope="row">20</th>
<td>Calketoc</td>
<td>$ 2,200</td>
<td>$ 2,500</td>
<td>$ 2,700</td>
</tr>
<tr>
<th scope="row">21</th>
<td>Opichen</td>
<td>$ 2,300</td>
<td>$ 2,600</td>
<td>$ 2,800</td>
</tr>
<tr>
<th scope="row">22</th>
<td>Muna</td>
<td>$ 3,100</td>
<td>$ 3,500</td>
<td>$ 3,800</td>
</tr>
<tr>
<th scope="row">23</th>
<td>Chan Chochola</td>
<td>$ 2,000</td>
<td>$ 2,300</td>
<td>$ 2,500</td>
</tr>
<tr>
<th scope="row">24</th>
<td>Chactun</td>
<td>$ 2,100</td>
<td>$ 2,400</td>
<td>$ 2,600</td>
</tr>
<tr>
<th scope="row">25</th>
<td>Becal</td>
<td>$ 2,000</td>
<td>$ 2,300</td>
<td>$ 2,500</td>
</tr>
<tr>
<th scope="row">26</th>
<td>Tepakan</td>
<td>$ 2,100</td>
<td>$ 2,400</td>
<td>$ 2,600</td>
</tr>
<tr>
<th scope="row">27</th>
<td>Calkini</td>
<td>$ 2,200</td>
<td>$ 2,500</td>
<td>$ 2,700</td>
</tr>
<tr>
<th scope="row">28</th>
<td>Dzitbalche</td>
<td>$ 2,300</td>
<td>$ 2,600</td>
<td>$ 2,800</td>
</tr>
<tr>
<th scope="row">29</th>
<td>Hecelchakan</td>
<td>$ 2,600</td>
<td>$ 2,900</td>
<td>$ 3,100</td>
</tr>
<tr>
<th scope="row">30</th>
<td>Pomuch</td>
<td>$ 2,700</td>
<td>$ 3,000</td>
<td>$ 3,200</td>
</tr>
<tr>
<th scope="row">31</th>
<td>Tenabo</td>
<td>$ 2,800</td>
<td>$ 3,200</td>
<td>$ 3,400</td>
</tr>
<tr>
<th scope="row">32</th>
<td>Cucholoch</td>
<td>$ 2,000</td>
<td>$ 2,300</td>
<td>$ 2,500</td>
</tr>
<tr>
<th scope="row">33</th>
<td>Nunkini</td>
<td>$ 2,200</td>
<td>$ 2,500</td>
<td>$ 2,700</td>
</tr>
<tr>
<th scope="row">34</th>
<td>Siho</td>
<td>$ 2,000</td>
<td>$ 2,300</td>
<td>$ 2,500</td>
</tr>
<tr>
<th scope="row">35</th>
<td>Tankuche</td>
<td>$ 2,200</td>
<td>$ 2,500</td>
<td>$ 2,700</td>
</tr>
<tr>
<th scope="row">36</th>
<td>Isla Arena</td>
<td>$ 3,500</td>
<td>$ 3,800</td>
<td>$ 4,000</td>
</tr>
<tr>
<th scope="row">37</th>
<td>Merida</td>
<td>$ 3,500</td>
<td>$ 3,800</td>
<td>$ 4,000</td>
</tr>
</tbody>
</table>
<br>

    </div>

</body>





