
<div class="container my-4"> <!-- Agrega un margen a los lados de la página -->
  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
    <!--Contenedor 1-->
    <div class="col">
      <div class="card h-100">
        <img src="assets/Image/icon/home.png" class="card-img-top img-fluid w-25 mx-auto my-4" alt="home">
        <div class="card-body">
          <p class="h4 card-title text-center text-black">StartUp</p>
          <p class="h6 card-text text-center text-secondary">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

         <div class="container mt-4" style="background-color: rgba(219, 219, 219, 0.405);">
          <p class="h6 card-text text-center text-secondary">SPECIAL PRICE</p>
          <p class="h4 card-title text-center text-black">$6,99/mo.</p>
          <p class="h6 card-text text-center text-secondary">Discounted from $14,99/mo</p>
         </div>
          <p class="h5 card-text text-center text-black mt-4">1 <span class="text-secondary">Website</span></p>
          <p class="h5 card-text text-center text-black">10 <span class="text-secondary">GB Web Space</span></p>
          <p class="h5 card-text text-center text-black">10,000 <span class="text-secondary">Visits Monthly</span></p>
        </div>
        <hr class="text-white-50">
        <button type="button" class="btn btn-warning">GET PLAN</button>
      </div>
    </div>
    <!--Contenedor 2-->
    <div class="col">
      <div class="card h-100">
        <img src="assets/Image/icon/estrella.png" class="card-img-top img-fluid w-25 mx-auto my-4" alt="star">
        <div class="card-body">
          <p class="h4 card-title text-center text-black">GrowBlg</p>
          <p class="h6 card-text text-center text-secondary">This is a short card.<br> This content is a little bit longer.</p>

          <div class="container mt-4" style="background-color: rgba(219, 219, 219, 0.405);">
            <p class="h6 card-text text-center text-secondary">SPECIAL PRICE</p>
            <p class="h4 card-title text-center text-black">$9,99/mo.</p>
            <p class="h6 card-text text-center text-secondary">Discounted from $24,99/mo</p>
           </div>
            <p class="h5 card-text text-center text-black mt-4">Unlimited <span class="text-secondary">Website</span></p>
            <p class="h5 card-text text-center text-black">20 <span class="text-secondary">GB Web Space</span></p>
            <p class="h5 card-text text-center text-black">25,000 <span class="text-secondary">Visits Monthly</span></p>

        </div>
        <hr class="text-white-50">
        <button type="button" class="btn btn-warning">GET PLAN</button>
      </div>
    </div>
    <!--Contenedor 3-->
    <div class="col">
      <div class="card h-100">
        <img src="assets/Image/icon/crown.png" class="card-img-top img-fluid w-25 mx-auto my-4" alt="crown">
        <div class="card-body">
          <p class="h4 card-title text-center text-black">GoGeek</p>
          <p class="h6 card-text text-center text-secondary">This is a longer card with supporting text below as a natural lead-in to additional content.</p>

          <div class="container mt-4" style="background-color: rgba(219, 219, 219, 0.405);">
            <p class="h6 card-text text-center text-secondary">SPECIAL PRICE</p>
            <p class="h4 card-title text-center text-black">$14,99/mo.</p>
            <p class="h6 card-text text-center text-secondary">Discounted from $39,99/mo</p>
           </div>
            <p class="h5 card-text text-center text-black mt-4">Unlimited <span class="text-secondary">Websites</span></p>
            <p class="h5 card-text text-center text-black">40 <span class="text-secondary">GB Web Space</span></p>
            <p class="h5 card-text text-center text-black">100,000 <span class="text-secondary">Visits Monthly</span></p>

        </div>
        <hr class="text-white-50">
        <button type="button" class="btn btn-warning">GET PLAN</button>
      </div>
    </div>
  </div>
</div>


