<footer class="pie-de-pagina" class="pie-de-pagina bg-blue">
    <h1>SIGUENOS EN REDES SOCIALES</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <p class="texto-parrfo">Contrataciones al: 9971107844</p>
          <div class="contenedor-parrafo-imagen">
            <p class="texto-parrfo">Aceptamos tarjetas de credito y debito<img src="assets/Image/visa.png" alt="Mi Imagen" class="imagen" /><img src="assets/Image/master.png" alt="Mi Imagen" class="imagen" /></p>
          </div>
        </div>
        <div class="col-md-6 text-right">
            <a href="https://www.ejemplo.com">
                <img src="assets/Image/face.png" alt="Enlace con imagen" class="clase-imagen" />
              </a>

              <a href="https://www.ejemplo.com">
                <img src="assets/Image/twitter.png" alt="Enlace con imagen" class="clase-imagen" />
              </a>

              <a href="https://www.ejemplo.com">
                <img src="assets/Image/insta.jfif" alt="Enlace con imagen" class="clase-imagen" />
              </a>
              <br>
              <br>
              <p class="texto-parrfo2 text-right">&copy; 2023 WebGenius Creatuins. Todos los derechos reservados.</p>
        </div>
        
      </div>
    </div>
  </footer>
  
  
  
  
  
  
  
  

